<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Crear reservación</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Id reservación</label>
                            <input type="text" class="form-control" id="idReservacion" disabled="true" placeholder="Ingresar nombre..." 
                                    value="{{idReservacion}}">
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Hotel</label>
                            <input type="text" class="form-control" id="nombreHotel" placeholder="Ingresar el hotel" #nombreHotel>
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Nro. habitaciones</label>
                            <input type="text" class="form-control" id="numeroHabitaciones" placeholder="Ingresar numero habitaciones" #numeroHabitaciones>
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Nro. personas</label>
                            <input type="text" class="form-control" id="cantidadPersonas" placeholder="Ingresar numero personas" #cantidadPersonas>
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Fecha</label>
                            <input type="text" class="form-control" id="fechaReservacion" placeholder="Ingresar fecha reservacion" #fechaReservacion>
                        </div>
                        <button type="submit" class="btn	btn-primary" 
                            (click)="crearReservacion(nombreHotel.value,numeroHabitaciones.value,cantidadPersonas.value, fechaReservacion.value)">
                            Crear
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-lista-reservaciones *ngFor="let r of reservaciones" [reservacion]="r"></app-lista-reservaciones>
    </div>
</div>
