<p>Aqui vemos el detalle de un destino de un viaje
    <br>
    {{ destino.id }}
    <br>
    {{ destino.nombre }}
</p>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    style="height: 50vh; width: 100vm;"
>
    <mgl-marker [lngLat]="[-66.324462890625, -16.024695711685304]">
        <div
            onclick="alert('Hola')"
            class="marker"
        >
            Hola mundo!
        </div>
    </mgl-marker>
</mgl-map>
