<div class="container	content">
    <div class="row row-flex pt-4">
      <div class="col-md-6">
        <span class="anchor" id="formLogin"></span>
        <!-- form	card	login	with	validation	feedback	-->
        <div class="card	card-outline-secondary">
          <div class="card-header bg-primary">
            <h3 class="mb-0">Agrega un deseo</h3>
          </div>
          <div class="card-body">
            <app-form-destino-viaje (onItemAdded)="agregado($event)" #child1></app-form-destino-viaje>
          </div>
        </div>
      </div>
      <div class="col-md-6	">
        <div class="card	card-outline-secondary">
          <div class="card-header bg-warning">
            <h3 class="mb-0">Lista de urls de imagenes</h3>
          </div>
          <div class="card-body">
            <ul>
              <li *ngFor="let u of listaUrl">{{u}}</li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
      <app-destino-viaje 
        *ngFor="let d of all; let i=index " 
        [destino]="d" 
        (clicked)="elegido(d)" 
        appEspiame>
    </app-destino-viaje>
    </div>
  
    <hr class="mb-5">
    <div class="row row-flex">
      <h5>Actividad </h5>
      <ul>
        <li *ngFor="let u of updates;">{{u}}</li>
      </ul>
    </div>
  
  </div>