<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
      <img src="{{destino.url}}" alt="">
      <span>
        <h4>{{position}}</h4>
      </span>
    </div>
    <div class="card-desc">
      <h3>{{destino.nombre}}</h3>
      <p>{{destino.descripcion}}</p>
      <h5>Servicios</h5>
      <ul>
        <li *ngFor="let s of destino.servicios">
          <span [ngSwitch]="s">
            <i *ngSwitchCase="'desayuno'" class="text-danger">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>
          </span>
        </li>
      </ul>
      <div>
          <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
              <i class="material-icons md-18">thumb_up</i>
          </a>
          &nbsp;
          <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
              <i class="material-icons md-18">thumb_down</i>
          </a>
          &nbsp;
          Votos: {{destino.votes}}
      </div>
      <a [routerLink]="['/destino', destino.id]">Ver Destino</a>
      <br>
      <a href="#" (click)="eliminarDestino()" class="text-danger">Eliminar</a>
  
    </div>
    <div class="card-footer bg-white">
      <a href="#" class="btn-card py-2" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
      <span class="float-right" *ngIf="destino.isSelected()"><i class="fas fa-star text-warning pr-1"></i><span
          ngNonBindable>{{PREFERIDO}}</span></span>
    </div>
  </div>