/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
section{
    padding:	100px	0;
}
.details-card	{
    background:	#ecf0f1;
}
.card-content	{
    background:	#ffffff;
    border:	4px;
    box-shadow:	0	2px	5px	0	rgba(0,0,0,.16),	0	2px	10px	0	rgba(0,0,0,.12);
}

.card-desc	{
    padding:	1.25rem;
}
.card-desc	h4{
    color:	red;
}
.card-desc	h3	{
    color:	blue;
    font-weight:	600;
    font-size:	1.5em;
    line-height:	1.3em;
    margin-top:	0;
    margin-bottom:	5px;
    padding:	0;
}
