<div class="card-content">
    <div class="card-desc">
        <img src="https://icon-icons.com/icons2/1774/PNG/128/036hotel_114143.png"/>
        <span>
            <h4>{{reservacion.nombreHotel}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>Id Reservación:{{reservacion.idReservacion}}</h3>
        <p>Número personas: {{reservacion.cantidadPersonas}}</p>
        <p>Número habitaciones: {{reservacion.numeroHabitaciones}}</p>
        <p>Fecha: {{reservacion.fechaReservacion}}</p>
    </div>
</div>
